<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
</head>
<style>
    a {
    text-decoration: none;
    }
    body {
    background-color: #ccc;
    display:flex;
    align-items: center;
    flex-direction: column;
    }
</style>
<body>
<h1>Add New Student</h1>
<form th:action="@{/add}" th:object="${student}" method="post">
    <label>Name:</label>
    <input type="text" th:field="*{name}" required/><br/>

    <label>Email:</label>
    <input type="email" th:field="*{email}" required/><br/>

    <label>Phone:</label>
    <input type="text" th:field="*{phone}" required/><br/>

    <label>Address:</label>
    <input type="text" th:field="*{address}"/><br/>

    <button type="submit">Add</button>
</form>
<a th:href="@{/}">Back to List</a>
</body>
</html>
